In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("HRpreprocessed.csv")
dataset

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [3]:
dataset["Attrition"].value_counts()

Attrition
No     1242
Yes     238
Name: count, dtype: int64

In [4]:
dataset

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [5]:
dataset=dataset.drop('EmpID',axis=1)

In [6]:
dataset

,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,...,3,80,0,0,2,3,0,0,0,0.0
1,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,1,...,1,80,0,0,2,3,0,0,0,0.0
2,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,...,4,80,0,0,3,3,0,0,0,0.0
3,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,...,4,80,0,0,2,3,0,0,0,0.0
4,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,...,4,80,0,33,5,1,29,8,11,10.0
1476,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,1,...,4,80,0,22,5,4,18,13,13,11.0
1477,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,...,4,80,0,10,1,3,2,2,2,2.0
1478,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,1,...,2,80,1,12,3,3,11,7,1,9.0
1479,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,1,...,3,80,1,19,2,4,1,0,0,0.0

In [7]:
dataset.columns

Index(['Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [8]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,SalarySlab_15k+,SalarySlab_5k-10k,SalarySlab_Upto 5k,OverTime_Yes
0,18,230,3,3,1,405,3,54,3,1,...,False,False,False,False,False,True,False,False,True,False
1,18,812,10,3,1,411,4,69,2,1,...,False,False,False,True,False,True,False,False,True,False
2,18,1306,5,3,1,614,2,69,3,1,...,False,False,False,True,False,True,False,False,True,True
3,18,287,5,2,1,1012,2,73,3,1,...,False,True,False,False,False,True,False,False,True,False
4,18,247,8,1,1,1156,3,80,3,1,...,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,422,7,3,1,549,1,41,3,5,...,False,False,False,False,True,False,True,False,False,False
1476,60,1499,28,3,1,573,3,80,2,3,...,False,False,True,False,True,False,False,False,False,False
1477,60,1179,16,4,1,732,1,84,3,2,...,False,False,True,False,False,True,False,True,False,False
1478,60,696,7,4,1,1233,2,52,4,2,...,False,False,True,False,False,False,False,True,False,True
1479,60,370,1,4,1,1697,3,92,1,3,...,False,False,False,False,False,False,False,False,False,False

In [9]:
dataset.astype(int)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,SalarySlab_15k+,SalarySlab_5k-10k,SalarySlab_Upto 5k,OverTime_Yes
0,18,230,3,3,1,405,3,54,3,1,...,0,0,0,0,0,1,0,0,1,0
1,18,812,10,3,1,411,4,69,2,1,...,0,0,0,1,0,1,0,0,1,0
2,18,1306,5,3,1,614,2,69,3,1,...,0,0,0,1,0,1,0,0,1,1
3,18,287,5,2,1,1012,2,73,3,1,...,0,1,0,0,0,1,0,0,1,0
4,18,247,8,1,1,1156,3,80,3,1,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,422,7,3,1,549,1,41,3,5,...,0,0,0,0,1,0,1,0,0,0
1476,60,1499,28,3,1,573,3,80,2,3,...,0,0,1,0,1,0,0,0,0,0
1477,60,1179,16,4,1,732,1,84,3,2,...,0,0,1,0,0,1,0,1,0,0
1478,60,696,7,4,1,1233,2,52,4,2,...,0,0,1,0,0,0,0,1,0,1
1479,60,370,1,4,1,1697,3,92,1,3,...,0,0,0,0,0,0,0,0,0,0

In [10]:
pd.set_option('display.max_columns',None)

In [11]:
print(dataset)

      Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
0      18        230                 3          3              1
1      18        812                10          3              1
2      18       1306                 5          3              1
3      18        287                 5          2              1
4      18        247                 8          1              1
...   ...        ...               ...        ...            ...
1475   60        422                 7          3              1
1476   60       1499                28          3              1
1477   60       1179                16          4              1
1478   60        696                 7          4              1
1479   60        370                 1          4              1

      EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
0                405                        3          54               3
1                411                        4          69               2
2                614                        2          69               3
3               1012                        2          73               3
4               1156                        3          80               3
...              ...                      ...         ...             ...
1475             549                        1          41               3
1476             573                        3          80               2
1477             732                        1          84               3
1478            1233                        2          52               4
1479            1697                        3          92               1

      JobLevel  JobSatisfaction  MonthlyIncome  MonthlyRate  \
0            1                3           1420        25233
1            1                3           1200         9724
2            1                2           1878         8059
3            1                4           1051        13493
4            1                3           1904        13556
...        ...              ...            ...          ...
1475         5                1          19566         3854
1476         3                1          10266         2845
1477         2                1           5405        11924
1478         2                4           5220        10893
1479         3                4          10883        20467

      NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
0                      1                 13                  3
1                      1                 12                  3
2                      1                 14                  3
3                      1                 15                  3
4                      1                 12                  3
...                  ...                ...                ...
1475                   5                 11                  3
1476                   4                 19                  3
1477                   8                 14                  3
1478                   0                 18                  3
1479                   3                 20                  4

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            3             80                 0
1                            1             80                 0
2                            4             80                 0
3                            4             80                 0
4                            4             80                 0
...                        ...            ...               ...
1475                         4             80                 0
1476                         4             80                 0
1477                         4             80                 0
1478                         2             80                 1
1479                         3             80                 1

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     0                      2                3
1                     0                      2                3
2                     0                      3                3
3                     0                      2                3
4                     0                      0                3
...                 ...                    ...              ...
1475                 33                      5                1
1476                 22                      5                4
1477                 10                      1                3
1478                 12                      3                3
1479                 19                      2                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  0                   0                        0
1                  0                   0                        0
2                  0                   0                        0
3                  0                   0                        0
4                  0                   0                        0
...              ...                 ...                      ...
1475              29                   8                       11
1476              18                  13                       13
1477               2                   2                        2
1478              11                   7                        1
1479               1                   0                        0

      YearsWithCurrManager  AgeGroup_26-35  AgeGroup_36-45  AgeGroup_46-55  \
0                      0.0           False           False           False
1                      0.0           False           False           False
2                      0.0           False           False           False
3                      0.0           False           False           False
4                      0.0           False           False           False
...                    ...             ...             ...             ...
1475                  10.0           False           False           False
1476                  11.0           False           False           False
1477                   2.0           False           False           False
1478                   9.0           False           False           False
1479                   0.0           False           False           False

      AgeGroup_55+  Attrition_Yes  BusinessTravel_TravelRarely  \
0            False           True                        False
1            False          False                        False
2            False           True                        False
3            False          False                        False
4            False           True                        False
...            ...            ...                          ...
1475          True          False                        False
1476          True          False                        False
1477          True          False                        False
1478          True          False                        False
1479          True          False                        False

      BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
0                                False                          True
1                                False                          True
2                                 True                         False
3                                False                         False
4                                False                         False
...                                ...                           ...
1475                             False                          True
1476                              True                         False
1477                             False                          True
1478                             False                          True
1479                             False                          True

      Department_Research & Development  Department_Sales  \
0                                  True             False
1                                 False              True
2                                 False              True
3                                  True             False
4                                  True             False
...                                 ...               ...
1475                               True             False
1476                              False              True
1477                              False              True
1478                              False              True
1479                               True             False

      EducationField_Life Sciences  EducationField_Marketing  \
0                             True                     False
1                            False                     False
2                            False                      True
3                             True                     False
4                            False                     False
...                            ...                       ...
1475                          True                     False
1476                         False                      True
1477                         False                      True
1478                         False                      True
1479                         False                     False

      EducationField_Medical  EducationField_Other  \
0                      False                 False
1                       True                 False
2                      False                 False
3                      False                 False
4                       True                 False
...                      ...                   ...
1475                   False                 False
1476                   False                 False
1477                   False                 False
1478                   False                 False
1479                    True                 False

      EducationField_Technical Degree  Gender_Male  JobRole_Human Resources  \
0                               False         True                    False
1                               False        False                    False
2                               False         True                    False
3                               False         True                    False
4                               False         True                    False
...                               ...          ...                      ...
1475                            False        False                    False
1476                            False        False                    False
1477                            False         True                    False
1478                            False         True                    False
1479                            False         True                    False

      JobRole_Laboratory Technician  JobRole_Manager  \
0                              True            False
1                             False            False
2                             False            False
3                             False            False
4                              True            False
...                             ...              ...
1475                          False             True
1476                          False            False
1477                          False            False
1478                          False            False
1479                          False            False

      JobRole_Manufacturing Director  JobRole_Research Director  \
0                              False                      False
1                              False                      False
2                              False                      False
3                              False                      False
4                              False                      False
...                              ...                        ...
1475                           False                      False
1476                           False                      False
1477                           False                      False
1478                           False                      False
1479                           False                      False

      JobRole_Research Scientist  JobRole_Sales Executive  \
0                          False                    False
1                          False                    False
2                          False                    False
3                           True                    False
4                          False                    False
...                          ...                      ...
1475                       False                    False
1476                       False                     True
1477                       False                     True
1478                       False                     True
1479                       False                    False

      JobRole_Sales Representative  MaritalStatus_Married  \
0                            False                  False
1                             True                  False
2                             True                  False
3                            False                  False
4                            False                  False
...                            ...                    ...
1475                         False                   True
1476                         False                   True
1477                         False                  False
1478                         False                  False
1479                         False                  False

      MaritalStatus_Single  SalarySlab_15k+  SalarySlab_5k-10k  \
0                     True            False              False
1                     True            False              False
2                     True            False              False
3                     True            False              False
4                     True            False              False
...                    ...              ...                ...
1475                 False             True              False
1476                 False            False              False
1477                  True            False               True
1478                 False            False               True
1479                 False            False              False

      SalarySlab_Upto 5k  OverTime_Yes
0                   True         False
1                   True         False
2                   True          True
3                   True         False
4                   True         False
...                  ...           ...
1475               False         False
1476               False         False
1477               False         False
1478               False          True
1479               False         False

[1480 rows x 56 columns]

In [12]:
dataset.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'AgeGroup_26-35',
       'AgeGroup_36-45', 'AgeGroup_46-55', 'AgeGroup_55+', 'Attrition_Yes',
       'BusinessTravel_TravelRarely', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'SalarySlab_15k+', 'SalarySlab_5k-10k',
       'SalarySlab_Upto 5k', 'OverTime_Yes'],
      dtype='object')

In [13]:
independent=dataset[['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'AgeGroup_26-35',
       'AgeGroup_36-45', 'AgeGroup_46-55', 'AgeGroup_55+',
       'BusinessTravel_TravelRarely', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'SalarySlab_15k+', 'SalarySlab_5k-10k',
       'SalarySlab_Upto 5k', 'OverTime_Yes']]

In [14]:
independent

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,AgeGroup_26-35,AgeGroup_36-45,AgeGroup_46-55,AgeGroup_55+,BusinessTravel_TravelRarely,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Male,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,SalarySlab_15k+,SalarySlab_5k-10k,SalarySlab_Upto 5k,OverTime_Yes
0,18,230,3,3,1,405,3,54,3,1,3,1420,25233,1,13,3,3,80,0,0,2,3,0,0,0,0.0,False,False,False,False,False,False,True,True,False,True,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,True,False
1,18,812,10,3,1,411,4,69,2,1,3,1200,9724,1,12,3,1,80,0,0,2,3,0,0,0,0.0,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,True,False
2,18,1306,5,3,1,614,2,69,3,1,2,1878,8059,1,14,3,4,80,0,0,3,3,0,0,0,0.0,False,False,False,False,False,True,False,False,True,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,True,False,False,True,True
3,18,287,5,2,1,1012,2,73,3,1,4,1051,13493,1,15,3,4,80,0,0,2,3,0,0,0,0.0,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,True,False
4,18,247,8,1,1,1156,3,80,3,1,3,1904,13556,1,12,3,4,80,0,0,0,3,0,0,0,0.0,False,False,False,False,False,False,False,True,False,False,False,True,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,422,7,3,1,549,1,41,3,5,1,19566,3854,5,11,3,4,80,0,33,5,1,29,8,11,10.0,False,False,False,True,False,False,True,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,False,False,False
1476,60,1499,28,3,1,573,3,80,2,3,1,10266,2845,4,19,3,4,80,0,22,5,4,18,13,13,11.0,False,False,False,True,False,True,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False
1477,60,1179,16,4,1,732,1,84,3,2,1,5405,11924,8,14,3,4,80,0,10,1,3,2,2,2,2.0,False,False,False,True,False,False,True,False,True,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,True,False,False
1478,60,696,7,4,1,1233,2,52,4,2,4,5220,10893,0,18,3,2,80,1,12,3,3,11,7,1,9.0,False,False,False,True,False,False,True,False,True,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True,False,True
1479,60,370,1,4,1,1697,3,92,1,3,4,10883,20467,3,20,4,3,80,1,19,2,4,1,0,0,0.0,False,False,False,True,False,False,True,True,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
dependent=dataset[['Attrition_Yes']]

In [16]:
dependent

      Attrition_Yes
0              True
1             False
2              True
3             False
4              True
...             ...
1475          False
1476          False
1477          False
1478          False
1479          False

[1480 rows x 1 columns]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [18]:
X_train,X_test,Y_train,Y_test

(      Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
 271    29        442                 2          2              1
 506    32       1259                 2          4              1
 688    35        672                25          3              1
 1300   49        464                16          3              1
 937    39       1089                 6          3              1
 ...   ...        ...               ...        ...            ...
 763    36       1425                14          1              1
 835    37       1252                19          2              1
 1216   46       1125                10          3              1
 559    33        536                10          5              1
 684    35        950                 7          3              1

       EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
 271              388                        2          44               3
 506             1692                        4          95               3
 688              899                        4          78               2
 1300            1674                        4          74               3
 937             1525                        2          32               3
 ...              ...                      ...         ...             ...
 763              924                        3          68               3
 835              904                        1          32               3
 1216             580                        3          94               2
 559             1268                        4          82               4
 684              845                        3          59               3

       JobLevel  JobSatisfaction  MonthlyIncome  MonthlyRate  \
 271          2                4           4554        20260
 506          1                2           1393        24852
 688          3                2          10903         9129
 1300         1                1           2587        24941
 937          3                2           8376         9150
 ...        ...              ...            ...          ...
 763          2                4           6586         4821
 835          3                2           7642         4814
 1216         3                4           9071        11563
 559          3                3           8380        21708
 684          3                3          10221        18869

       NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
 271                    1                 18                  3
 506                    1                 12                  3
 688                    3                 16                  3
 1300                   4                 16                  3
 937                    4                 18                  3
 ...                  ...                ...                ...
 763                    0                 17                  3
 835                    1                 13                  3
 1216                   2                 19                  3
 559                    0                 14                  3
 684                    3                 21                  4

       RelationshipSatisfaction  StandardHours  StockOptionLevel  \
 271                          1             80                 0
 506                          1             80                 0
 688                          1             80                 0
 1300                         2             80                 1
 937                          4             80                 0
 ...                        ...            ...               ...
 763                          1             80                 1
 835                          4             80                 0
 1216                         3             80                 1
 559                          4             80                 2
 684                          2             80                 0

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
 271                  10                      3                2
 506                   1                      2                3
 688                  16                      2                3
 1300                 17                      2                2
 937                   9                      3                3
 ...                 ...                    ...              ...
 763                  17                      2                2
 835                  10                      2                3
 1216                 15                      3                3
 559                  10                      3                3
 684                  17                      3                4

       YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
 271               10                   7                        0
 506                1                   0                        0
 688               13                  10                        4
 1300               2                   2                        2
 937                2                   0                        2
 ...              ...                 ...                      ...
 763               16                   8                        4
 835               10                   0                        0
 1216               3                   2                        1
 559                9                   8                        0
 684                8                   5                        1

       YearsWithCurrManager  AgeGroup_26-35  AgeGroup_36-45  AgeGroup_46-55  \
 271                    9.0            True           False           False
 506                    0.0            True           False           False
 688                    8.0            True           False           False
 1300                   2.0           False           False            True
 937                    2.0           False            True           False
 ...                    ...             ...             ...             ...
 763                   11.0           False            True           False
 835                    9.0           False            True           False
 1216                   2.0           False           False            True
 559                    8.0            True           False           False
 684                    6.0            True           False           False

       AgeGroup_55+  BusinessTravel_TravelRarely  \
 271          False                        False
 506          False                        False
 688          False                        False
 1300         False                        False
 937          False                        False
 ...            ...                          ...
 763          False                        False
 835          False                        False
 1216         False                        False
 559          False                        False
 684          False                        False

       BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
 271                               True                         False
 506                              False                          True
 688                              False                          True
 1300                             False                          True
 937                              False                          True
 ...                                ...                           ...
 763                              False                          True
 835                              False                         False
 1216                             False                          True
 559                              False                          True
 684                              False                          True

       Department_Research & Development  Department_Sales  \
 271                               False              True
 506                                True             False
 688                                True             False
 1300                               True             False
 937                                True             False
 ...                                 ...               ...
 763                                True             False
 835                               False              True
 1216                              False              True
 559                               False              True
 684                                True             False

       EducationField_Life Sciences  EducationField_Marketing  \
 271                           True                     False
 506                           True                     False
 688                          False                     False
 1300                         False                     False
 937                           True                     False
 ...                            ...                       ...
 763                           True                     False
 835                          False                     False
 1216                         False                      True
 559                          False                      True
 684                          False                     False

       EducationField_Medical  EducationField_Other  \
 271                    False                 False
 506                    False                 False
 688                    False                 False
 1300                    True                 False
 937                    False                 False
 ...                      ...                   ...
 763                    False                 False
 835                     True                 False
 1216                   False                 False
 559                    False                 False
 684                    False                  True

       EducationField_Technical Degree  Gender_Male  JobRole_Human Resources  \
 271                             False         True                    False
 506                             False         True                    False
 688                              True         True                    False
 1300                            False        False                    False
 937                             False        False                    False
 ...                               ...          ...                      ...
 763                             False         True                    False
 835                             False         True                    False
 1216                            False        False                    False
 559                             False         True                    False
 684                             False         True                    False

       JobRole_Laboratory Technician  JobRole_Manager  \
 271                           False            False
 506                            True            False
 688                           False            False
 1300                           True            False
 937                           False            False
 ...                             ...              ...
 763                           False            False
 835                           False            False
 1216                          False            False
 559                           False            False
 684                           False            False

       JobRole_Manufacturing Director  JobRole_Research Director  \
 271                            False                      False
 506                            False                      False
 688                             True                      False
 1300                           False                      False
 937                             True                      False
 ...                              ...                        ...
 763                            False                      False
 835                            False                      False
 1216                           False                      False
 559                            False                      False
 684                             True                      False

       JobRole_Research Scientist  JobRole_Sales Executive  \
 271                        False                     True
 506                        False                    False
 688                        False                    False
 1300                       False                    False
 937                        False                    False
 ...                          ...                      ...
 763                        False                    False
 835                        False                     True
 1216                       False                     True
 559                        False                     True
 684                        False                    False

       JobRole_Sales Representative  MaritalStatus_Married  \
 271                          False                  False
 506                          False                  False
 688                          False                   True
 1300                         False                  False
 937                          False                  False
 ...                            ...                    ...
 763                          False                   True
 835                          False                  False
 1216                         False                   True
 559                          False                  False
 684                          False                  False

       MaritalStatus_Single  SalarySlab_15k+  SalarySlab_5k-10k  \
 271                   True            False              False
 506                   True            False              False
 688                  False            False              False
 1300                 False            False              False
 937                   True            False               True
 ...                    ...              ...                ...
 763                  False            False               True
 835                   True            False               True
 1216                 False            False               True
 559                  False            False               True
 684                   True            False              False

       SalarySlab_Upto 5k  OverTime_Yes
 271                 True         False
 506                 True         False
 688                False         False
 1300                True          True
 937                False         False
 ...                  ...           ...
 763                False          True
 835                False          True
 1216               False          True
 559                False          True
 684                False         False

 [986 rows x 55 columns],
       Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
 567    33        392                 2          4              1
 1041   41       1200                22          3              1
 649    34        735                 3          1              1
 666    35        662                 1          5              1
 568    33        530                16          3              1
 ...   ...        ...               ...        ...            ...
 740    36        132                 6          3              1
 10     19        602                 1          1              1
 1042   41       1283                 5          5              1
 720    35        880                12          4              1
 1267   48       1469                20          4              1

       EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
 567             1670                        4          93               3
 1041            1392                        4          75               3
 649             1915                        4          75               2
 666              204                        3          94               3
 568             1681                        3          36               3
 ...              ...                      ...         ...             ...
 740               97                        2          55               4
 10               235                        3         100               1
 1042            1448                        2          90               4
 720             1667                        4          36               3
 1267             945                        4          51               3

       JobLevel  JobSatisfaction  MonthlyIncome  MonthlyRate  \
 567          2                4           5505         3921
 1041         2                4           5467        13953
 649          2                4           8103        16495
 666          3                2           7295        11439
 568          2                4           5368        16130
 ...        ...              ...            ...          ...
 740          1                4           3038        22002
 10           1                1           2325        20989
 1042         1                3           2127         5561
 720          2                4           4581        10414
 1267         1                3           2259         5543

       NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
 567                    1                 14                  3
 1041                   3                 14                  3
 649                    3                 12                  3
 666                    1                 13                  3
 568                    1                 25                  4
 ...                  ...                ...                ...
 740                    3                 12                  3
 10                     0                 21                  4
 1042                   2                 12                  3
 720                    3                 24                  4
 1267                   4                 17                  3

       RelationshipSatisfaction  StandardHours  StockOptionLevel  \
 567                          3             80                 2
 1041                         1             80                 2
 649                          3             80                 0
 666                          1             80                 2
 568                          3             80                 1
 ...                        ...            ...               ...
 740                          2             80                 0
 10                           1             80                 0
 1042                         1             80                 0
 720                          1             80                 0
 1267                         1             80                 2

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
 567                   6                      5                3
 1041                 12                      4                2
 649                   9                      3                2
 666                  10                      3                3
 568                   7                      2                3
 ...                 ...                    ...              ...
 740                   5                      3                3
 10                    1                      5                4
 1042                  7                      5                2
 720                  13                      2                4
 1267                 13                      2                2

       YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \

In [19]:
import warnings
warnings.filterwarnings("ignore")

In [20]:
from sklearn.svm import SVC
classifier=SVC(kernel="rbf",gamma="auto",random_state = 0)
classifier.fit(X_train,Y_train)

SVC(gamma='auto', random_state=0)

In [21]:
y_pred=classifier.predict(X_test)

In [22]:
from sklearn.metrics import confusion_matrix  
cm=confusion_matrix (Y_test,y_pred)
cm

array([[414,   0],
       [ 80,   0]], dtype=int64)

In [23]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,y_pred)

In [24]:
print(clf_report)

              precision    recall  f1-score   support

       False       0.84      1.00      0.91       414
        True       0.00      0.00      0.00        80

    accuracy                           0.84       494
   macro avg       0.42      0.50      0.46       494
weighted avg       0.70      0.84      0.76       494

In [25]:
import pickle
filename="finalized_model_forest.sav"
pickle.dump(classifier,open(filename,"wb"))

In [32]:
loaded_model=pickle.load(open("finalized_model_forest.sav","rb"))
predictions = loaded_model.predict(X_train)

In [33]:
predictions

array([False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False,  True, False,  True, False, False,
        True, False, False,  True,  True,  True, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False,  True,  True,  True, False,  True, False, False,
        True, False, False,  True,  True, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False,  True, False, False, False, False, False, False,
        True, False,  True,  True, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False,  True,
       False,  True, False, False, False, False, False,  True, False,
        True, False, False, False, False, False, False,  True, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False,  True, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True,  True, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False,  True, False,
        True, False,  True, False, False, False, False,  True, False,
        True, False, False, False,  True, False, False,  True, False,
       False, False, False, False, False,  True, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True, False,  True, False,
        True, False,  True, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False,  True,
        True, False, False,  True, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True, False,
       False, False,  True, False,  True, False, False,  True, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True, False,  True, False,  True,
       False, False,  True, False, False, False, False,  True, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False,  True, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False,  True, False,  True, False, False,  True, False, False,
        True, False, False, False,  True, False, False, False, False,
        True,  True, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False,  True, False,
       False,  True, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False,  True, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
        True, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
        True, False, False, False,  True, False,  True, False, False,
        True,  True, False, False, False,  True, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
        True, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False,  True, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False,  True, False,  True, False,  True, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
        True, False, False,  True, False, False, False, False,  True,
        True, False, False, False, False, False,  True, False, False,
       False,  True, False, False,  True, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False,  True,  True, False,  True, False,  True,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False,  True, False,  True, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False])